@import url(https://fonts.googleapis.com/css?family=Poppins:400,500&subset=latin,latin-ext);
/* ______GLOBAL ATTRIBUTES_______________________________________ */
* { margin: 0; padding: 0; }
body {width: 100%; padding-bottom: 50px;}
ul {list-style-type: none;}
a {text-decoration: underline;}
a:link {color: #F00}
a:visited {color: #0F0}
a:hover {color: #F0F}
a:active {color: #00F}

.container {
	}

/* ______TITLE____________________________________________________ */	
.title {
	width: 60%;
	margin: 30px auto 0;
	}
	
@media (max-width: 768px) {
	.title {width: 85%;}
	}
	
.title img {
	width: 100%;
	}
/* ______SELECTION_______________________________________________ */
.animation-selection {
	width: 80%;
	padding: 2%;
	margin: 30px auto 0;
	border: 5px groove #000;
	height: 150px;
	}

.animation-selection select {
	width: 30%;
	padding: 0;
	padding-left: 2%;
	font: bold 1.5em 'Poppins', sans-serif;
	}

/* ______DISPLAY_________________________________________________ */
.animation-display {
	width: 94%;
	padding: 3%;
	margin: 30px auto 0;
	border: 5px groove #000;
	}
	
.display-title h2{
	text-align: center;
	letter-spacing: 10px;
	font: bold 10em 'Poppins', sans-serif;
	}
	
.display-text p{
	text-indent: 100px;
	font: bold 2em 'Poppins', sans-serif;	
	}	
	
/* ______SCRIPT__________________________________________________ */
	
	
	
	
	
	
	
	